.contact {
  background-image: url(contacting.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 5%;
  padding-top: calc(60px + 30px);
  margin-top: -60px;
}

.contact .contact-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  padding: 0;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
}

.contact .contact-group .contact-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  vertical-align: middle;
  width: 50%;
  height: 350px;
  margin: 0;
  background: rgba(89, 0, 255, 0.76);
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.contact .contact-group .contact-text h2 {
  padding: 25px;
  background: #e0d423;
  border-top-left-radius: 15px;
  color: rgba(0, 0, 0, 0.9);
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 15px;
}

.contact .contact-group .contact-text p {
  width: 100%;
  height: 100%;
  padding: 25px;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

.contact .contact-group .contact-form {
  width: 50%;
  padding: 25px;
}

.contact .contact-group .contact-form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-group .contact-form .form-group label {
  width: 100%;
  max-width: 400px;
  font-size: 1em;
  color: #fff;
}

.contact .contact-group .contact-form .form-group input, .contact .contact-group .contact-form .form-group textarea {
  width: 100%;
  max-width: 400px;
  margin: 5px auto 15px auto;
  padding: 2.5px;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 3px solid #fff;
  text-align: center;
  text-align-last: center;
  resize: none;
  overflow: hidden;
  -webkit-transition: all ease .3s;
  transition: all ease .3s;
}

.contact .contact-group .contact-form .form-group input:focus, .contact .contact-group .contact-form .form-group textarea:focus {
  padding-bottom: 4px;
}

.contact .contact-group .contact-form .form-group input::-webkit-input-placeholder, .contact .contact-group .contact-form .form-group textarea::-webkit-input-placeholder {
  color: #aaa;
}

.contact .contact-group .contact-form .form-group input:-ms-input-placeholder, .contact .contact-group .contact-form .form-group textarea:-ms-input-placeholder {
  color: #aaa;
}

.contact .contact-group .contact-form .form-group input::-ms-input-placeholder, .contact .contact-group .contact-form .form-group textarea::-ms-input-placeholder {
  color: #aaa;
}

.contact .contact-group .contact-form .form-group input::placeholder, .contact .contact-group .contact-form .form-group textarea::placeholder {
  color: #aaa;
}

.contact .contact-group .contact-form .form-group #text {
  height: 50px;
}

.contact .contact-group .contact-form .form-group #submit:hover {
  background: red;
  -webkit-transition: width ease-in .3s;
  transition: width ease-in .3s;
  width: 40%;
}

@media (max-width: 450px) {
  .contact {
    background-image: url(contacting.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5%;
    padding-top: calc(60px + 30px);
    margin-top: -60px;
  }
  .contact .contact-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    vertical-align: initial;
    padding: 0;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.6);
  }
  .contact .contact-group .contact-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    vertical-align: middle;
    width: 100%;
    height: 300px;
    margin: 0;
    background: rgba(89, 0, 255, 0.76);
    border-radius: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .contact .contact-group .contact-text h2 {
    padding: 25px;
    background: #e0d423;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 15px;
  }
  .contact .contact-group .contact-text p {
    width: 100%;
    height: 100%;
    padding: 25px;
    color: #fff;
    text-align: center;
    font-size: 1em;
  }
  .contact .contact-group .contact-form {
    width: 100%;
    padding: 25px;
  }
  .contact .contact-group .contact-form .form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-group .contact-form .form-group label {
    width: 100%;
    max-width: 400px;
    font-size: 1em;
    color: #fff;
  }
  .contact .contact-group .contact-form .form-group input, .contact .contact-group .contact-form .form-group textarea {
    width: 100%;
    max-width: 400px;
    margin: 5px auto 15px auto;
    padding: 2.5px;
    background: none;
    color: #fff;
    border: none;
    border-bottom: 3px solid #fff;
    text-align: center;
    text-align-last: center;
    resize: none;
    overflow: hidden;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
  }
  .contact .contact-group .contact-form .form-group input:focus, .contact .contact-group .contact-form .form-group textarea:focus {
    padding-bottom: 4px;
  }
  .contact .contact-group .contact-form .form-group input::-webkit-input-placeholder, .contact .contact-group .contact-form .form-group textarea::-webkit-input-placeholder {
    color: #aaa;
  }
  .contact .contact-group .contact-form .form-group input:-ms-input-placeholder, .contact .contact-group .contact-form .form-group textarea:-ms-input-placeholder {
    color: #aaa;
  }
  .contact .contact-group .contact-form .form-group input::-ms-input-placeholder, .contact .contact-group .contact-form .form-group textarea::-ms-input-placeholder {
    color: #aaa;
  }
  .contact .contact-group .contact-form .form-group input::placeholder, .contact .contact-group .contact-form .form-group textarea::placeholder {
    color: #aaa;
  }
  .contact .contact-group .contact-form .form-group #text {
    height: 50px;
  }
  .contact .contact-group .contact-form .form-group #submit:hover {
    background: red;
    -webkit-transition: width ease-in .3s;
    transition: width ease-in .3s;
    width: 40%;
  }
}
/*# sourceMappingURL=style_contact.css.map */