{% extends 'base.html' %}

{% block title %}
Sobre mí
{% endblock %}

{% block content %}
<div class="about">
    <div class="about-section">
        <h1>¿Quién soy?</h1>
        <p>
            &nbsp;&nbsp;Soy Juan Diego Rico Espluga, estudio Ing. Informática en el CECyT 12 "José María Morelos",
            CDMX, México. Nací en el año 2003 en Caracas, Venezuela y actualmente tengo <span id="mi-edad">18</span> años de edad. <br><br>
            Desde que tengo memoria me ha gustado todo lo que tiene que ver con informática y a la edad de 13 años decidí empezar a estudiarlo
            oficialmente por mi cuenta, viendo videos en youtube, leyendo en libros y foros de internet como 
            <a href="https://es.stackoverflow.com/" target="_blank">Stack Overflow</a>, 
            <a href="https://www.w3schools.com/" target="_blank">W3schools</a>, entre otras. <br><br>
            Mi primer contacto con un lenguaje de programación fue en JavaScript, programando desde una aplicación llamada AnWriterFree ya que
            no contaba con una computadora en ese entonces, aunque para ese momento ya sabía algo de HTML y CSS, lo que me ayudó a aprender cada 
            vez más. <br><br>
            Luego de un tiempo empecé a aprender C/C++ en el IDE llamado DevC++, luego me compré cursos de Python y Java y actualmente estoy en
            un curso universitario de Java con los frameworks más usados como Spring, Hibernate y demás.
        </p>
    </div>
    <div class="about-section">
        <h2>¿Cuál es mi meta?</h2>
        <p>
            &nbsp;&nbsp;Yo tengo varias metas bastante demandantes y ambiciosas, entre las cuales, una de ellas es crear una empresa exitosa
            de seguridad informática, servicios de diseño web para <i>no-programadores</i>, exportación e importación de tecnología novedosa
            y la creación de algunas de ellas. Pero la meta más a corto plazo sería terminar mi carrera y conseguir mi primer trabajo para
            empezar mi vida profesional con el pie derecho, cosa para la cual me considero bastante competente, sé que puedo trabajar muy bien
            en equipo, y si llegase a ser el caso, guiar a personas que estén a mi cargo.
        </p>
    </div>
    <div class="about-section">
        <h2>¿Por qué decidí empezar con el desarrollo web?</h2>
        <p>
            &nbsp;&nbsp;Decidí empezar en el desarrollo web porque además de que lo veo como un arte, fue lo primero que aprendí en mi vida
            (HTML, CSS, JS), y por ende es lo que más sé hacer. Pero también decidí empezar con esta rama de la programación porque me vuela
            la mente cómo funciona todo: <b>Bases de datos</b>, <b>DNS'</b>, relaciones de <b>Frontend</b> y <b>Backend</b>, etc. 
            Hay un sin fín de cosas que se pueden lograr con el Web Desing, y quiero aprender 
            lo máximo posible porque me encanta todo este mundillo de la programación en general.
        </p>
    </div>
</div>
{% endblock %}