<div class="proyects">
    <h3>Mira mis proyectos <span id="drop-proyects-list">Cliqueando Aquí</span></h3>
    <div class="proyects-list">
        <ul>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
            <li class="rep-obj">
                <div class="text">
                    <h4>Title</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Sint in cumque minus facere sequi modi molestiae repellendus
                        provident. Adipisci, quam! Nulla quam debitis blanditiis itaque 
                        unde eligendi dolore et ducimus?
                    </p>
                </div>
                <a href="#"><i class="fas fa-download"></i></a>
            </li>
        </ul>
    </div>
</div>